.gameCircle {
  width: 100%;
  height: 100%;

  .gameCircleCircle {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .gameCircleInnerCircle {
    fill: #241e2d;
  }

  .gameCircleOuterCircle {
    fill: url(#grad);
  }

  .gameWinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    color: #4db1cc;
    font-size: 20px;
  }

  .gameUsers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    .gameUser {
      position: relative;
      padding: .25rem 1rem;
      background: #1f1c26;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: .25rem;
        background: #308f95;
        border-radius: 4px;
      }
    }

    .botUser {
      &:before {
        background: red;
      }
    }
  }
}