@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: #262230;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.border-rounded {
  border-radius: 25px;
}

.btn-info {
  color: #fff;
  background: #308f95;
  border-color: #308f95;
}

.card {
  color: #fff;
  background: #241e2d;
  border-radius: 4px;
}

.arrow {
  svg {
    path {
      fill: #ffffff;
    }
  }
}
